
h1{
	color: darkgrey;
	text-align: center;
}

.container {
	max-width: 750px;
	margin: auto;
}

#emotion-form{
	margin: 0px;
	color: darkgrey;
	text-align: center;
}

#add-emotion {
	background-color: snow;
	color: darkgrey;
	padding: 10px;
	margin: 30px, 10px, 10px, 10px;
	text-align: center;
}

#emotion-input {
	padding: 10px;
	text-align: center;
}

.imgEmotion {
	display: inline-block;
    margin: 20px;
}

.emotion {
	display: inline-block;
    margin: 20px;
    border: 1px solid darkgrey; 
    background-color: snow;
}

.imgRating {
	font-size: 16px;
	font-family: Georgia;
	margin: 0px, 10px, 10px, 10px;
	text-align: left;
	color: darkgrey;
}
