
h1{
	color: darkgrey;
	text-align: center;
}

.container {
	max-width: 750px;
	margin: auto;
}

#emotion-form{
	margin: 0px;
	color: darkgrey;
	text-align: center;
}

#add-emotion {
	background-color: #27ae60;
	color: white;
	padding: 10px;
	margin: 30px, 10px, 10px, 10px;
	text-align: center;
	height: 40px;
}

#emotion-input {
	padding: 10px;
	text-align: center;
}

.imgEmotion {
	display: inline-block;
    margin: 20px;
}

.emotion {
	display: inline-block;
    margin: 20px;
    border: 1px solid darkgrey; 
    background-color: #27ae60;
    text-transform: uppercase;
    padding: 10px, 16px, 10px, 16px;
    color: white;
    height: 40px;

}

.imgRating {
	font-size: 16px;
	font-family: Georgia;
	margin: 0px, 10px, 10px, 10px;
	text-align: left;
	color: darkgrey;
}
